<template lang="html">
    <div>
        <h2>Типы операционных систем</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>On/Off</th>
                    <th>Название</th>
                    <th>Цена</th>
                    <!--<th>Название MIQ</th>
                    <th>GUID MIQ</th>
                    <th>Статус MIQ</th>-->
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="product in products">
                    <td>{{ product.id }}</td>
                    <td><span v-if="product.active == 'On'" style="color: #1c7430">On</span>
                        <span v-else style="color: red">Off</span>
                    </td>
                    <td>
                        <router-link :to="{ name: 'os-edit', params: { id: product.id } }">
                            {{ product.title }}
                        </router-link>
                    </td>
                    <td>{{ product.price  | currency(' ', 0)}}</td>
                    <!--<td>{{ product.name_miq }}</td>
                    <td>{{ product.guid_miq }}</td>
                    <td>{{ product.status_miq }}</td>-->
                    <td>
                        <router-link class="btn btn-success" :to="{ name: 'os-edit', params: { id: product.id } }">
                            Редактировать
                        </router-link>
                        <button class="btn btn-danger" @click.prevent="deleteProduct(product.id)">Удалить</button></td>
                </tr>
                </tbody>
            </table>
<!--
            <button type="submit" variant="success" class="btn btn-success" @click.prevent="getOsMiq()">Синхронизировать с MIQ</button>
-->
            <div v-if="statusMiq">{{statusMiq}}</div>
            <a href="/#/admin/os-add">Добавить</a>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return {
                statusMiq: '',
                products: [],
                endpoint: this.$http.defaults.baseURL + '/os',
                endpoint_get_os: this.$http.defaults.baseURL + '/miq/get_os',
            }
        },
        created() {
            this.getServers();
        },
        methods: {
            getServers() {
                this.$http.get(this.endpoint, this.$http.defaults.config)
                    .then(response => {
                        this.products = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            deleteProduct(id)
            {
                if (confirm('Вы уверенны в том, что хотите удалить запись?')) {
                    axios.delete(this.endpoint + '/' + id, this.$http.defaults.config)
                        .then(response => {
                            this.getServers()
                        });
                }
            },
            getOsMiq() {
                this.$http.get(this.endpoint_get_os, this.$http.defaults.config)
                    .then(response => {
                        //this.products = response.data;
                        this.getServers();
                        this.statusMiq = "Данные синхронизированы";
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
        }
    }
</script>
