<template lang="html">
    <div>
        <h2>Редактировать ОС</h2>
        <form @submit.prevent="save">
            <b-form-group label="Название" v-if="product">
                <b-form-input type="text" v-model="product.title"></b-form-input>
            </b-form-group>
            <b-form-group label="Активность">
                <select v-model="product.active">
                    <option v-for="v in activity">{{ v }}</option>
                </select>
            </b-form-group>
            <b-form-group label="Цена">
                <b-form-input type="text" v-model="product.price"></b-form-input>
            </b-form-group>
            <!--<b-form-group label="Name MIQ" v-if="product.name_miq">
                <span style="color: #1c7430">{{product.name_miq}}</span>
            </b-form-group>
            <b-form-group label="Description MIQ" v-if="product.description_miq">
                <span style="color: #1c7430">{{product.description_miq}}</span>
            </b-form-group>
            <b-form-group label="Guid MIQ" v-if="product.guid_miq">
                <span style="color: #1c7430">{{product.guid_miq}}</span>
            </b-form-group>-->
            <div>
                <b-btn type="submit" variant="success">Сохранить</b-btn>
            </div>
        </form>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        props: ['id'],
        data () {
            return {
                product: null,
                endpoint: this.$http.defaults.baseURL + '/os/',
                activity: ['On', 'Off'],
            }
        },
        created() {
            this.getProducts();
        },
        methods: {
            getProducts() {
                axios.get(this.endpoint + this.id, this.$http.defaults.config)
                    .then(response => {
                        this.product = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            save()
            {
                axios.put(this.endpoint + this.id, this.product, this.$http.defaults.config)
                    .then(response => {
                        this.$router.push("/admin/os/");
                    });
            }
        }
    }
</script>
