<template lang="html">
    <div>
        <h2>Заказы</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Стоимость заказа, $</th>
                    <th>Инициатор</th>
                    <th>Дата заказа</th>
                    <th>Срок действия оценки</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="order in orders">
                    <td>
                        <router-link :to="{ name: 'order-detail', params: { id: order.id } }">
                            {{ order.id }}
                        </router-link>
                    </td>
                    <td>{{ order.cart.sum | currency(' ', 0)}}</td>
                    <td>{{ order.user.login }}</td>
                    <td><span v-if="order.created_at">{{ new Date(order.created_at) | dateFormat('DD.MM.YYYY HH:mm') }}</span></td>
                    <td><span v-if="order.deadline">{{ new Date(order.deadline) | dateFormat('DD.MM.YYYY') }}</span></td>
                    <td>{{order.order_status.title}}</td>
                    <td>
                        <!--<span v-if="order.order_status.code == 'new'">
                            <button class="btn btn-warning" @click.prevent="inProgress(order.id)">Взять в работу</button>
                        </span>-->
                        <span v-if="order.order_status.code == 'validation'">
                            <button class="btn btn-warning" @click.prevent="agreed(order.id)">Согласован</button>
                            <button class="btn btn-danger" @click.prevent="rejected(order.id)">Уточнить</button>
                        </span>
                        <span v-if="order.order_status.code == 'agreed'">
                            <button class="btn btn-success" @click.prevent="resourceAllocation(order.id)">Выделение ресурсов</button>
                        </span>
                        <span v-if="order.order_status.code == 'resource_allocation'">
                            <button class="btn btn-success" @click.prevent="fulfilled(order.id)">Выполнен</button>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return {
                orders: [],
                endpoint: this.$http.defaults.baseURL + '/order',
                endpoint_status_in_progress: this.$http.defaults.baseURL + '/order/change_status/validation/',
                endpoint_status_rejected: this.$http.defaults.baseURL + '/order/change_status/rejected/',
                endpoint_status_agreed: this.$http.defaults.baseURL + '/order/change_status/agreed/',
                endpoint_status_resource_allocation: this.$http.defaults.baseURL + '/order/change_status/resource_allocation/',
                endpoint_status_fulfilled: this.$http.defaults.baseURL + '/order/change_status/fulfilled/',
            }
        },
        created() {
            this.getProducts();
        },
        methods: {
            getProducts() {
                axios.get(this.endpoint, this.$http.defaults.config)
                    .then(response => {
                        this.orders = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            inProgress(order) {
                axios.post(this.endpoint_status_in_progress + order, '', this.$http.defaults.config)
                    .then(response => {
                        this.getProducts();
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            rejected(order) {
                this.$router.push("/admin/order_rejected/" + order);

                /*axios.post(this.endpoint_status_rejected + order, this.$http.defaults.config)
                    .then(response => {
                        this.getProducts();
                    })
                    .catch(error => {
                        console.log(error);
                    })*/
            },
            agreed(order) {
                axios.post(this.endpoint_status_agreed + order, '', this.$http.defaults.config)
                    .then(response => {
                        this.getProducts();
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            resourceAllocation(order) {
                axios.post(this.endpoint_status_resource_allocation + order, '', this.$http.defaults.config)
                    .then(response => {
                        this.getProducts();
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            fulfilled(order) {
                axios.post(this.endpoint_status_fulfilled + order, '', this.$http.defaults.config)
                    .then(response => {
                        this.getProducts();
                    })
                    .catch(error => {
                        console.log(error);
                    })
            }
        }
    }
</script>

