<template>

    <div>
        <h2>Уточнение по заказу</h2>
        <div>
            <form @submit.prevent="save">
                <b-form-group label="Сообщение заказчику">
                    <b-form-input type="text"  v-model="model.reason_cancel"></b-form-input>
                </b-form-group>
                <div>
                    <b-btn type="submit" variant="success">Сохранить</b-btn>
                </div>
            </form>
        </div>

    </div>

</template>

<script>
    import axios from 'axios'
    export default {
        props: ['id'],
        data () {
            return {
                orders: [],
                endpoint: this.$http.defaults.baseURL + '/order/change_status/rejected/',
                model: {}
            }
        },
        methods: {
            save() {
                let user_id = localStorage.getItem("user_id");
                axios.post(this.endpoint + this.id, this.model, this.$http.defaults.config)
                    .then(response => {
                        this.$router.push("/admin/order/" + this.id);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            }
        }
    }
</script>
