<template lang="html">
    <div>
        <h2>Добавить продукт</h2>
        <form @submit.prevent="save">
            <b-form-group label="performance">
                <select v-model="model.performance">
                    <option v-for="size in sizes">{{ size }}</option>
                </select>
            </b-form-group>

            <b-form-group label="sla">
                <select v-model="model.sla">
                    <option v-for="sla in slaSet" v-bind:value="sla.id">{{ sla.title }}</option>
                </select>
            </b-form-group>
            <b-form-group label="price">
                <b-form-input type="text" v-model="model.price"></b-form-input>
            </b-form-group>
            <b-form-group label="Детальное описание">
                <b-form-input type="text" v-model="model.configuration"></b-form-input>
            </b-form-group>
            <b-form-group label="role">
                <select v-model="model.role">
                    <option v-for="server in servers">{{ server.title }}</option>
                </select>
            </b-form-group>
            <b-form-group label="environment">
                <select v-model="model.environment">
                    <option v-for="env in envs">{{ env.title }}</option>
                </select>
            </b-form-group>
            <b-form-group label="vCPU, Core">
                <b-form-input type="text" v-model="model.vcpu"></b-form-input>
            </b-form-group>
            <b-form-group label="RAM, GB">
                <b-form-input type="text" v-model="model.ram"></b-form-input>
            </b-form-group>
            <!--<b-form-group label="disc_type">
                <b-form-input type="text" v-model="model.disc_type"></b-form-input>
            </b-form-group>-->
            <b-form-group label="Тип диска">
                <select v-model="model.disc_type">
                    <option v-for="disc_type in disc_types">{{ disc_type }}</option>
                </select>
            </b-form-group>
            <b-form-group label="Объем диска, Gb">
                <b-form-input type="text" v-model="model.disc_volume"></b-form-input>
            </b-form-group>
            <span v-if="result" style="color: red">{{result.error}}</span>
            <div>
                <b-btn type="submit" variant="success">Сохранить</b-btn>
            </div>
        </form>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return {
                model: {
                    environment: "Prod",
                    role: "App",
                    performance: "high",
                    slaSet: 1
                },
                endpoint:        this.$http.defaults.baseURL + '/product',
                endpoint_server: this.$http.defaults.baseURL + '/server',
                endpoint_env:    this.$http.defaults.baseURL + '/env',
                endpoint_sla:    this.$http.defaults.baseURL + '/sla',
                sizes: ['high', 'middle', 'low'],
                disc_types: ['S1', 'SSD'],
                slaSet: '',
                envs: '',
                servers:'',
                result: '',
                error: ''
            }
        },
        created() {
            this.getEnvironments();
            this.getServers();
            this.getSla();
        },
        methods: {
            getEnvironments() {
                axios.get(this.endpoint_env, this.$http.defaults.config)
                    .then(response => {
                        this.envs = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getServers() {
                axios.get(this.endpoint_server, this.$http.defaults.config)
                    .then(response => {
                        this.servers = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getSla() {
                axios.get(this.endpoint_sla, this.$http.defaults.config)
                    .then(response => {
                        this.slaSet = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            save()
            {
                axios.post(this.endpoint, this.model, this.$http.defaults.config)
                    .then(response => {
                        this.result = response.data;
                        console.log(this.result.error)
                        if (!this.result.error) {
                            this.$router.push("/admin/product/");
                        }
                    });
            }
        }
    }
</script>
