<template lang="html">
    <div>
        <h2>Список сервисов</h2>

        <!--<div class="form-group">
            <label for="filter" class="col-form-label order__name__label">Выбрать фильтр</label>
            <select id="filter" class="form-control col-2">
                <option selected>Все</option>
                <option>Prod</option>
                <option>Test</option>
                <option>Dev</option>
            </select>
            <button type="button" class="btn btn-success filter__button">Фильтровать</button>
        </div>-->
        <div class="table-responsive" v-if="!products.error">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Сервер</th>
                    <th>SLA</th>
                    <th>Производительность</th>
                    <th>Цена, $</th>
                    <!--<th>Краткое описание</th>
                    <th>Детальное описание</th>-->
                    <th>Активность</th>
                    <th>Среда</th>
                    <th>vCPU, Core</th>
                    <th>RAM, Gb</th>
                    <th>Объем диска, Gb</th>
                    <th>Тип диска</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="product in products"  v-if="products">
                    <td>{{ product.id }}</td>
                    <td>{{ product.server }}</td>
                    <td>{{ product.sla }}</td>
                    <td>{{ product.performance }}</td>
                    <td>{{ product.price  | currency(' ', 0)}}</td>
                    <!--<td>{{ product.configuration }}</td>
                    <td></td>-->
                    <td>{{ product.active }}</td>
                    <td>{{ product.environment }}</td>
                    <td>{{ product.vcpu }}</td>
                    <td>{{ product.ram }}</td>
                    <td>{{ product.disc_volume }}</td>
                    <td>{{ product.disc_type }}</td>
                    <td>
                        <router-link class="btn btn-success" :to="{ name: 'product-edit', params: { id: product.id } }">
                            Редактировать
                        </router-link>
                        <button class="btn btn-danger" @click.prevent="deleteProduct(product.id)">Удалить</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div v-else>
            {{products.error}}
        </div>
        <a href="/#/admin/product-add">Добавить сервис</a>

    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return {
                products: [],
                endpoint: this.$http.defaults.baseURL + '/product',
            }
        },
        created() {
            this.getProducts();
        },
        methods: {
            getProducts() {
                axios.get(this.endpoint, this.$http.defaults.config)
                    .then(response => {
                        this.products = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            deleteProduct(id)
            {
                if (confirm('Вы уверенны в том, что хотите удалить запись?')) {
                    axios.delete(this.endpoint + '/' + id, this.$http.defaults.config)
                        .then(response => {
                            this.getProducts()
                        });
                }
            }
        }
    }
</script>
