<template lang="html">
    <div>
        <h2>Редактировать продукт</h2>
        <form @submit.prevent="save">
            <b-form-group label="active">
                <!--<b-form-input type="text" v-model="product.active">-->
                <select v-model="product.active">
                    <option v-for="status in statuses">{{ status }}</option>
                </select>
            </b-form-group>
            <b-form-group label="performance">
                <select v-model="product.performance">
                    <option v-for="size in sizes">{{ size }}</option>
                </select>
            </b-form-group>
            <b-form-group label="sla">
                <select v-model="product.sla">
                    <option v-for="sla in slaSet" v-bind:value="sla.id">{{ sla.title }}</option>
                </select>
            </b-form-group>
            <b-form-group label="price">
                <b-form-input type="text" v-model="product.price"></b-form-input>
            </b-form-group>
            <b-form-group label="configuration">
                <b-form-input type="text" v-model="product.configuration"></b-form-input>
            </b-form-group>
            <b-form-group label="server">
                <select v-model="product.server">
                    <option v-for="server in servers">{{ server.title }}</option>
                </select>
            </b-form-group>
            <b-form-group label="environment">
                <select v-model="product.environment">
                    <option v-for="env in envs">{{ env.title }}</option>
                </select>
            </b-form-group>
            <b-form-group label="vCPU, Core">
                <b-form-input type="text" v-model="product.vcpu"></b-form-input>
            </b-form-group>
            <b-form-group label="RAM, GB">
                <b-form-input type="text" v-model="product.ram"></b-form-input>
            </b-form-group>
            <!--<b-form-group label="disc_type">
                <b-form-input type="text" v-model="product.disc_type"></b-form-input>
            </b-form-group>-->
            <b-form-group label="Тип диска">
                <select v-model="product.disc_type">
                    <option v-for="disc_type in disc_types">{{ disc_type }}</option>
                </select>
            </b-form-group>
            <b-form-group label="Объем диска, Gb">
                <b-form-input type="text" v-model="product.disc_volume"></b-form-input>
            </b-form-group>

            <div>
                <b-btn type="submit" variant="success">Сохранить</b-btn>
            </div>
        </form>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        props: ['id'],
        data () {
            return {
                product: '',
                endpoint: this.$http.defaults.baseURL + '/product/',
                endpoint_server: this.$http.defaults.baseURL + '/server',
                endpoint_env: this.$http.defaults.baseURL + '/env',
                endpoint_sla:    this.$http.defaults.baseURL + '/sla',
                sizes: ['high', 'middle', 'low'],
                disc_types: ['S1', 'SSD'],
                slaSet: '',
                statuses: ['enabled', 'disabled'],
                envs: '',
                servers:''
            }
        },
        created() {
            this.getProducts();
            this.getServers();
            this.getEnvironments();
            this.getSla();
        },
        methods: {
            getProducts() {
                axios.get(this.endpoint + this.id, this.$http.defaults.config)
                    .then(response => {
                        this.product = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getServers() {
                axios.get(this.endpoint_server, this.$http.defaults.config)
                    .then(response => {
                        this.servers = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getEnvironments() {
                axios.get(this.endpoint_env, this.$http.defaults.config)
                    .then(response => {
                        this.envs = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getSla() {
                axios.get(this.endpoint_sla, this.$http.defaults.config)
                    .then(response => {
                        this.slaSet = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            save()
            {
                axios.put(this.endpoint + this.id, this.product, this.$http.defaults.config)
                    .then(response => {
                        this.$router.push("/admin/product/");
                    });
            }
        }
    }
</script>
