<template lang="html">
    <div>
        <h2>Редактировать тип сервера</h2>
        <form @submit.prevent="save">
            <b-form-group label="Название" v-if="product">
                <b-form-input type="text" v-model="product.title"></b-form-input>
            </b-form-group>
            <div>
                <b-btn type="submit" variant="success">Сохранить</b-btn>
            </div>
        </form>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        props: ['id'],
        data () {
            return {
                product: null,
                endpoint: this.$http.defaults.baseURL + '/server/',
            }
        },
        created() {
            this.getProducts();
        },
        methods: {
            getProducts() {
                axios.get(this.endpoint + this.id, this.$http.defaults.config)
                    .then(response => {
                        this.product = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            save()
            {
                axios.put(this.endpoint + this.id, this.product, this.$http.defaults.config)
                    .then(response => {
                        this.$router.push("/admin/server/");
                    });
            }
        }
    }
</script>
