<template lang="html">
    <div>
        <h2>Добавить тип</h2>
        <form @submit.prevent="save">
            <b-form-group label="Название">
                <b-form-input type="text" v-model="model.title"></b-form-input>
            </b-form-group>
            <div>
                <b-btn type="submit" variant="success">Сохранить</b-btn>
            </div>
        </form>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return {
                model: {},
                endpoint: this.$http.defaults.baseURL + '/server',
            }
        },
        methods: {
            save()
            {
                axios.post(this.endpoint, this.model, this.$http.defaults.config)
                    .then(response => {
                        this.$router.push("/admin/server/");
                    });
            }
        }
    }
</script>
