<template lang="html">
    <div>
        <h2>SLA</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <!--<th>#</th>-->
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="product in products">
                    <!--<td>{{ product.id }}</td>-->
                    <td>
                        <router-link :to="{ name: 'sla-edit', params: { id: product.id } }">
                            {{ product.title }}
                        </router-link>
                    </td>
                    <td>{{ product.description }}</td>
                    <td>
                        <router-link class="btn btn-success" :to="{ name: 'sla-edit', params: { id: product.id } }">
                            Редактировать
                        </router-link>
                        <button class="btn btn-danger" @click.prevent="deleteProduct(product.id)">Удалить</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <a href="/#/admin/sla-add">Добавить</a>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return {
                products: [],
                endpoint: this.$http.defaults.baseURL + '/sla',
            }
        },
        created() {
            this.getEnvs();
        },
        methods: {
            getEnvs() {
                axios.get(this.endpoint, this.$http.defaults.config)
                    .then(response => {
                        this.products = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            deleteProduct(id)
            {
                if (confirm('Вы уверенны в том, что хотите удалить запись?')) {
                    axios.delete(this.endpoint + '/' + id, this.$http.defaults.config)
                        .then(response => {
                            this.getEnvs()
                        });
                }
            }
        }
    }
</script>
