<template lang="html">
    <div>
        <h2>Список пользователей</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Логин</th>
                    <th>Роль</th>
                    <th>Действия</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user in users">
                    <td>{{ user.id }}</td>
                    <td>
                        <router-link :to="{ name: 'user-edit', params: { id: user.id } }">
                            {{ user.login }}
                        </router-link>
                    </td>
                    <td>{{user.role}}</td>
                    <td>
                        <router-link class="btn btn-success" :to="{ name: 'user-edit', params: { id: user.id } }">
                            Редактировать
                        </router-link>
                        <button class="btn btn-danger" @click.prevent="deleteUser(user.id)">Удалить</button>
                    </td>
                    <!--<td>
                        <button class="btn btn-warning" @click.prevent="authUser(user.id)">Авторизация</button>
                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return {
                users: [],
                endpoint: this.$http.defaults.baseURL + '/user',
            }
        },
        created() {
            this.getUsers();
        },
        methods: {
            getUsers() {
                axios.get(this.endpoint, this.$http.defaults.config)
                    .then(response => {
                        this.users = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            deleteUser(id)
            {
                if (confirm('Вы уверенны в том, что хотите удалить запись?')) {
                    axios.delete(this.endpoint + '/' + id, this.$http.defaults.config)
                        .then(response => {
                            this.getUsers()
                        });
                }
            },
            authUser(id)
            {
                localStorage.setItem('user_id', id);
                //this.$router.push("/");
                location.reload();
            }
        }
    }
</script>
