<template lang="html">
    <div>
        <h2>Редактировать пользователя</h2>
        <form @submit.prevent="save">
            <b-form-group label="Логин" v-if="user">
                <b-form-input type="text" v-model="user.login"></b-form-input>
            </b-form-group>
            <b-form-group label="Роль" v-if="user">
                <select v-model="user.role">
                    <option v-for="role in roles">{{ role }}</option>
                </select>
            </b-form-group>
            <div>
                <b-btn type="submit" variant="success">Сохранить</b-btn>
            </div>

        </form>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        props: ['id'],
        data () {
            return {
                user: null,
                roles: ['admin', 'user'],
                endpoint: this.$http.defaults.baseURL + '/user/',
            }
        },
        created() {
            this.getUsers();
        },
        methods: {
            getUsers() {
                axios.get(this.endpoint + this.id, this.$http.defaults.config)
                    .then(response => {
                        this.user = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            save()
            {
                axios.put(this.endpoint + this.id, this.user, this.$http.defaults.config).
                then(response => {
                    this.$router.push("/admin/user/");
                });
            }
        }
    }
</script>
