<template lang="html">
    <div>
        <h2>Добавить пользователя</h2>
        <form @submit.prevent="save">
            <b-form-group label="Логин">
                <b-form-input type="text" v-model="model.login"></b-form-input>
            </b-form-group>
            <b-form-group label="Роль">
                <select v-model="model.role">
                    <option v-for="role in roles">{{ role }}</option>
                </select>
            </b-form-group>

            <div>
                <b-btn type="submit" variant="success">Сохранить</b-btn>
            </div>
        </form>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return {
                model: {
                    role: "admin"
                },
                endpoint: this.$http.defaults.baseURL + '/user',
                roles: ['admin', 'user'],
            }
        },
        methods: {
            save()
            {
                axios.post(this.endpoint, this.model, this.$http.defaults.config).
                    then(response => {
                        this.$router.push("/admin/user/");
                    });
            }
        }
    }
</script>
