<template lang="html">
    <div>
        <h2>Авторизация</h2>
        <form @submit.prevent="save">
            <b-form-group label="Логин">
                <b-form-input type="text" v-model="model.login"></b-form-input>
            </b-form-group>
            <b-form-group label="Пароль">
                <b-form-input type="text"></b-form-input>
            </b-form-group>
            <div>
                <b-btn type="submit" variant="success">Войти</b-btn>
            </div>
        </form>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return {
                model: {},
                endpoint: this.$http.defaults.baseURL + '/user/auth',
            }
        },
        methods: {
            save()
            {
                axios.post(this.endpoint, this.model).
                    then(response => {
                        let data = response.data;
                        if (!data.error) {
                            //console.log('ok');
                            localStorage.setItem('token', data.token);
                            localStorage.setItem('user_id', data.user_id);
                        }

                        this.$router.go(0);

                    });
            }
        }
    }
</script>
