<template lang="html">
    <div>
        <h2>Заполнение данных</h2>
        <div class="row spp">
            <div class="spp__item">
                <label for="number" class="">Название проекта<span style="color: red">*</span></label>
                <div>
                    <input v-model="model.project_name" type="text" class="form-control col-2" id="name" placeholder="Введите текст">
                </div>
            </div>
            <br>
            <div class="spp__item">
                <label for="number" class="">Номер СПП</label>
                <div>
                    <input v-model="model.number_spp" type="text" class="form-control col-2" id="number" placeholder="">
                </div>
            </div>
            <div class="spp__item">
                <label for="period" class="">Срок СПП</label>
                <div>
                    <input v-model="model.date_spp" type="text" class="form-control col-2" id="period" placeholder="">
                </div>
            </div>
            <div class="spp__item">
                <label for="fin" class="">Финконтролер</label>
                <div>
                    <input v-model="model.fincontroller" type="text" class="form-control col-2" id="fin" placeholder="">
                </div>
            </div>
        </div>
        <div>
            <span v-if="msgError" style="color: red">{{msgError.error}}</span>
        </div>
        <p class="creating__order__price--text">
            Оценка стоимости применима исключительно только к опубликованным на портале конфигурациям
        </p>
        <button type="submit" variant="success" class="btn btn-success" @click.prevent="addName()">Забронировать</button>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                model: {
                    project_name:'',
                    number_spp: ''
                },
                data: '',
                msgError: '',
                user_id: localStorage.getItem("user_id"),
                endpoint_cart:    this.$http.defaults.baseURL + '/cart/',
                endpoint_add_project_name:    this.$http.defaults.baseURL + '/cart/add_project_name/',
                endpoint_order:               this.$http.defaults.baseURL + '/order/',
            }
        },
        methods: {
            addName() {
                //console.log(this.model.project_name);
                this.$http.post(this.endpoint_add_project_name + this.user_id, this.model, this.$http.defaults.config)
                    .then(response => {
                        this.data = response.data;
                        if (!this.data.error) {
                            this.checkout();
                        } else {
                            this.msgError = response.data;
                        }

                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            checkout() {
                this.$http.post(this.endpoint_order + this.user_id, null, this.$http.defaults.config)
                    .then(response => {
                        localStorage.removeItem('env_sla');
                        this.$router.push("/completed/");
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
        }
    }
</script>
