<template lang="html">
    <div class="creating__order">

    <div class="creating__order__group">
        <h2>Расчет конфигурации</h2>
        <div id="accordion">

            <div class="card environment__configure" v-for="(items, envIndex) in products" v-if="!products.error">
                <div class="card environment__configure">

                    <section class="card-header environment__configure__header" v-on:click="showCollapsed">
                        <button class="btn environment__configure__name" v-bind:id="env" style="font-size: 24px; box-shadow: none;" >
                            <img :src="imgDown" width="20" height="20">
                            {{ envIndex }}
                        </button>
                        <div class="environment__sla">
                            <label for="slaEvn" class="col-sm-8 col-form-label">SLA</label>
                            <select v-model="slaModel[envIndex]" @change="setSla(env_key[envIndex], envIndex)" id="slaEvn" class="form-control col-6">
                                <option v-for="(sla_id, sla_title) in slaSet2[env_key[envIndex]]" v-bind:value="sla_id">{{ sla_title }}</option>
                            </select>

                            <span class="col-sm-8 col-form-label">
                                <!--  <a @click="showMsgOk(env_key[envIndex])"style="color: cornflowerblue">&nbsp;?&nbsp;</a>-->
                                <b-button class="question" @click="showSla(slaModel[envIndex])">?</b-button>
                            </span>
                        </div>
                        <div v-if="count_product.count" style="margin-right: 50px;">
                            <span v-if="count_product.count[envIndex] > 0">Количество: {{count_product.count[envIndex]}}</span>
                        </div>
                        <div v-if="count_product.price" style="margin-right: 50px;">
                            <span v-if="count_product.price[envIndex] > 0">Цена ОС: {{count_product.price_os[envIndex] | currency('$ ', 0)}}</span>
                        </div>
                        <div v-if="count_product.price_disc" style="margin-right: 50px;">
                            <span v-if="count_product.price_disc[envIndex]">Цена дисков: {{count_product.price_disc[envIndex] | currency('$ ', 2)}}</span>
                        </div>
                        <div v-if="count_product.price" style="margin-right: 50px;">
                            <span v-if="count_product.price[envIndex] > 0">Цена ВМ: {{count_product.price[envIndex] | currency('$ ', 0)}}</span>
                        </div>
                    </section>

                    <div class="collapse show" v-bind:id="envIndex + 'Block'">
                        <div class="card-body" v-for="(item, serverInd) in items">

                            <div class="card-body__name">
                                <div class="form-group environment__number">
                                    <p class="col col-form-label"><b>{{serverInd}}</b></p>
                                </div>
                                <div class="form-group environment__number">
                                    <p class="col-sm-6 col-form-label">Цена</p>
                                </div>
                                <div class="form-group environment__number">
                                    <p class="col-sm-6 col-form-label">Конфигурация</p>
                                </div>
                                <div class="form-group environment__number">
                                    <p class="col-sm-6 col-form-label">Количество</p>
                                </div>
                                <div class="form-group environment__number">
                                    <p class="col col-form-label">Операционная система</p>
                                </div>
                                <div class="form-group environment__number">
                                    <p class="col col-form-label">Объем доп. диска, Gb</p>
                                </div>
                                <div class="form-group environment__number">
                                    <p class="col col-form-label">Тип доп. диска</p>
                                </div>
                            </div>
                            <div class="card-body__item" v-for="itemProduct in item">
                                <div class="environment__number">
                                    <span>
                                        {{itemProduct.performance}}
                                        <b-button class="performance" @click="showPerformance(itemProduct.id)">?</b-button>
                                    </span>

                                </div>
                                <div class="environment__number">
                                    <span>{{itemProduct.price | currency('$ ', 0)}}</span>
                                </div>
                                <div class="environment__number" style="font-size: 12px; height: 38px;">
                                    <p class="environment__number__desc">
                                        <span v-if="itemProduct.vcpu > 0">vCPU: {{itemProduct.vcpu}},</span>
                                        <span v-if="itemProduct.ram > 0">RAM: {{itemProduct.ram}} Gb,</span>
                                        <span v-if="itemProduct.disc_volume > 0">{{itemProduct.disc_type}}: {{itemProduct.disc_volume}} Gb</span>
                                    </p>
                                </div>
                                <div class="environment__number">
                                    <span class="input-number">
                                        <button type="button" class="btn minus" style="box-shadow: none;" @click.prevent="deleteProduct(itemProduct.id)">-</button>
                                        <span class="count" v-if="cart_product[itemProduct.id]">{{cart_product[itemProduct.id].quantity}}</span>
                                        <span class="count" v-else>0</span>
                                        <button type="button" class="btn plus" style="box-shadow: none;" @click.prevent="addProduct(itemProduct.id)">+</button>
                                    </span>
                                </div>
                                <div class="environment__number environment__number__final">
                                    <select class="form-control col-8" :disabled="!cart_product[itemProduct.id]" v-model="osModel[itemProduct.id]" @change="setOs(cart_item[itemProduct.id], itemProduct.id)">
                                        <option v-for="item_os in os" v-bind:value="item_os.id">{{item_os.title}}</option>
                                    </select>
                                </div>
                                <div class="environment__number">
                                    <span class="input-number">
                                        <button type="button" class="btn minus" style="box-shadow: none;" @click.prevent="deleteDisc(cart_item[itemProduct.id])">-</button>
                                        <span class="count" v-if="cart_product[itemProduct.id]">{{cart_product[itemProduct.id].volume_disc}}</span>
                                        <span class="count" v-else>0</span>
                                        <button type="button" class="btn plus" style="box-shadow: none;" @click.prevent="addDisc(cart_item[itemProduct.id])">+</button>
                                    </span>
                                </div>
                                <div class="environment__number environment__number__final">
                                    <select class="form-control col-8" :disabled="!cart_product[itemProduct.id]" v-model="discModel[itemProduct.id]" @change="setTypeDisc(cart_item[itemProduct.id], itemProduct.id)">
                                        <option v-for="type_disc in type_discs">{{type_disc}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div v-else>
                {{products.error}}
            </div>
        </div>
        </div>

        <div class="environment__selection__footer">
            <div class="form-group environment__selection"></div>
            <div class="creating__order__reset creating__order__bottom" v-if="cart">
                <span class="creating__order__price" v-if="cart.sum > 0">Итого (без НДС): {{cart.sum | currency('$ ', 2)}}</span>
                <p class="creating__order__price--text">
                    Данная стоимость отображается справочно, для целей
                    бюджетирования и применима только к опубликованным на портале конфигурациям. Фиксация стоимости возможна по
                    нажатии на кнопку «Забронировать» на 40 дней, в течение
                    которых в заявку должен быть добавлен СПП через Личный
                    Кабинет. Заявки без СПП через 40 дней будут аннулированы
                </p>
                <button type="submit" variant="success" class="btn btn-success" @click.prevent="checkout()" v-if="cart.sum > 0">Забронировать</button>
                <button type="submit" class="btn btn-success" @click.prevent="detail" v-if="cart.sum > 0">Детализация</button>
                <button type="reset" class="btn btn-danger" @click.prevent="cancel" v-if="cart.sum > 0">Отменить</button>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                user_id: localStorage.getItem("user_id"),
                endpoint_product:             this.$http.defaults.baseURL + '/product/find',
                endpoint_product_detail:      this.$http.defaults.baseURL + '/product/',
                endpoint_cart:                this.$http.defaults.baseURL + '/cart/',
                endpoint_cart_product:        this.$http.defaults.baseURL + '/cart/product/',
                endpoint_cart_add_product:    this.$http.defaults.baseURL + '/cart/add_product/',
                endpoint_cart_delete_product: this.$http.defaults.baseURL + '/cart/delete_product/',
                endpoint_cart_select_os:      this.$http.defaults.baseURL + '/cart/select_os/',
                endpoint_cart_select_disc:    this.$http.defaults.baseURL + '/cart/select_disc/',
                endpoint_count:               this.$http.defaults.baseURL + '/cart/count/',
                endpoint_item:                this.$http.defaults.baseURL + '/cart/item/',
                endpoint_add_project_name:    this.$http.defaults.baseURL + '/cart/add_project_name/',
                endpoint_cart_cancel:         this.$http.defaults.baseURL + '/cart/cancel/',
                endpoint_order:               this.$http.defaults.baseURL + '/order/',
                endpoint_envs_with_sla:       this.$http.defaults.baseURL + '/env/envs/sla',
                endpoint_envs_sla:            this.$http.defaults.baseURL + '/env/envs/sla_id',
                endpoint_envs_id_sla_id:      this.$http.defaults.baseURL + '/env/envs_id/sla_id',
                endpoint_envs_key_sla:        this.$http.defaults.baseURL + '/env/key/sla',
                endpoint_sla:                 this.$http.defaults.baseURL + '/sla',
                endpoint_os:                  this.$http.defaults.baseURL + '/os/active',
                endpoint_add_os:              this.$http.defaults.baseURL + '/cart/add_os/',
                endpoint_add_disc:            this.$http.defaults.baseURL + '/cart/add_volume_disc/',
                endpoint_delete_disc:         this.$http.defaults.baseURL + '/cart/delete_volume_disc/',
                endpoint_set_type_disc:       this.$http.defaults.baseURL + '/cart/set_disc/',
                products:      '',
                cart: {
                    sum: ''
                },
                cart_product:  '',
                cart_item:     '',
                auth:          false,
                message:       '',
                count_product: '',
                envSla:        '',
                env_key:       '',
                slaModel: '',
                slaSet2: '',
                env: '',
                imgDown: "src/components/icon/caret-down-solid.svg",
                os: '',
                osModel: {},
                discModel: {},
                type_discs: ['S1', 'SSD'],
                sla:{}
            }
        },
        created() {
            this.getProduct();
            this.getCartItemId();

            this.getOs();

            this.getDefaultEnvsWithSla();
            this.getDefaultEnvsIdWithSlaId();
            this.getEnvKeyId();
            this.getEnvSla();

            this.getCart();
            this.getCartBase();
            this.getCountProduct();
            this.getSelectOs();
            this.selectTypeDisc();

            //this.getSla();

        },
        mounted() {
        },
        methods: {
            getDefaultEnvsWithSla() {
                this.$http.get(this.endpoint_envs_with_sla, this.$http.defaults.config)
                    .then(response => {
                        this.slaModel = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getSelectOs() {
                this.$http.get(this.endpoint_cart_select_os + this.user_id, this.$http.defaults.config)
                    .then(response => {
                        this.osModel = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getDefaultEnvsIdWithSlaId() {
                this.$http.get(this.endpoint_envs_id_sla_id, this.$http.defaults.config)
                    .then(response => {
                        this.envSla = response.data;
                        let data = JSON.parse(localStorage.getItem("env_sla"));
                        if (!data) {
                            localStorage.setItem("env_sla", JSON.stringify(this.envSla));
                        }

                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getEnvSla() {
                this.$http.get(this.endpoint_envs_sla, this.$http.defaults.config)
                    .then(response => {
                        this.slaSet2 = response.data;

                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getOs() {
                this.$http.get(this.endpoint_os, this.$http.defaults.config)
                    .then(response => {
                        this.os = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getProduct() {
                this.$http.post(this.endpoint_product, '', this.$http.defaults.config)
                    .then(response => {
                        this.products = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getCart() {
                this.$http.get(this.endpoint_cart_product + this.user_id, this.$http.defaults.config)
                    .then(response => {
                        this.cart_product = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getCartBase() {
                this.$http.get(this.endpoint_cart + this.user_id, this.$http.defaults.config)
                    .then(response => {
                        this.cart = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getCountProduct() {
                this.$http.get(this.endpoint_count + this.user_id, this.$http.defaults.config)
                    .then(response => {
                        this.count_product = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getCartItemId() {
                this.$http.get(this.endpoint_item + this.user_id, this.$http.defaults.config)
                    .then(response => {
                        this.cart_item = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            addProduct(id) {
                this.$http.post(this.endpoint_cart_add_product + this.user_id + '/' + id, null, this.$http.defaults.config)
                    .then(response => {
                        this.getCart();
                        this.getCartBase();
                        this.getCountProduct();
                        this.getCartItemId();
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            deleteProduct(id) {
                this.$http.post(this.endpoint_cart_delete_product + this.user_id + '/' + id, null, this.$http.defaults.config)
                    .then(response => {
                        this.getCart();
                        this.getCartBase();
                        this.getCountProduct();
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            showCollapsed(e) {
                var collapseSection = e.target.parentNode.lastChild;
                var triangleSection = e.target.firstChild.firstChild;
                var collapseButton = e.target.parentNode.parentNode.lastChild;
                var triangleButton = e.target.firstChild;

                function showCollapse(el, triangle) {
                    if (el.classList.contains('show')) {
                        el.classList.remove('show');
                        el.classList.add('hidden');
                        triangle.src = "src/components/icon/caret-right-solid.svg";
                    } else {
                        el.classList.add('show');
                        el.classList.remove('hidden');
                        triangle.src = "src/components/icon/caret-down-solid.svg";
                    }
                }

                if (e.target.tagName === 'SECTION') {
                    showCollapse(collapseSection, triangleSection);
                }
                if (e.target.tagName === 'BUTTON') {
                    showCollapse(collapseButton, triangleButton);
                }
            },
            /*checkout() {
                this.$router.push("/cart_data/");
            },*/
            checkout() {
                this.$http.post(this.endpoint_order + this.user_id, null, this.$http.defaults.config)
                    .then(response => {
                        localStorage.removeItem('env_sla');
                        this.$router.push("/completed/");
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getEnvKeyId() {
                this.$http.get(this.endpoint_envs_key_sla, this.$http.defaults.config)
                    .then(response => {
                        this.env_key = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            setSla(envId, env) {
                let data = JSON.parse(localStorage.getItem("env_sla"));
                if (!data) {
                    let data = this.envSla;
                }
                let result = [];
                for (let k in data) {
                    //console.log(data[k]);
                    if (k == envId) {
                        result[k] = this.slaModel[env];
                    } else {
                        result[k] = data[k];
                    }
                }
                localStorage.setItem("env_sla", JSON.stringify(result));

                this.$http.post(this.endpoint_product, result, this.$http.defaults.config)
                    .then(response => {
                        this.products = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            detail() {
                this.$router.push("/cart_detail/");
            },
            cancel() {
                this.$http.post(this.endpoint_cart_cancel + this.user_id, this.$http.defaults.config)
                    .then(response => {
                        localStorage.removeItem('env_sla');
                        this.$router.go(0);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            setOs(item_id, product_id) {
                this.$http.post(this.endpoint_add_os + this.user_id + '/' + item_id + '/' + this.osModel[product_id], null, this.$http.defaults.config)
                    .then(response => {
                        this.getCart();
                        this.getCartBase();
                        this.getCountProduct();
                        this.getCartItemId();
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            addDisc(item_id) {
                this.$http.post(this.endpoint_add_disc + this.user_id + '/' + item_id, null, this.$http.defaults.config)
                    .then(response => {
                        this.getCart();
                        this.getCartBase();
                        this.getCountProduct();
                        this.getCartItemId();
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            deleteDisc(item_id) {
                this.$http.post(this.endpoint_delete_disc + this.user_id + '/' + item_id, null, this.$http.defaults.config)
                    .then(response => {
                        this.getCart();
                        this.getCartBase();
                        this.getCountProduct();
                        this.getCartItemId();
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            setTypeDisc(item_id, product_id) {
                this.$http.post(this.endpoint_set_type_disc + this.user_id + '/' + item_id + '/' + this.discModel[product_id], null, this.$http.defaults.config)
                    .then(response => {
                        this.getCart();
                        this.getCartBase();
                        this.getCountProduct();
                        this.getCartItemId();
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            selectTypeDisc() {
                this.$http.get(this.endpoint_cart_select_disc + this.user_id, this.$http.defaults.config)
                    .then(response => {
                        this.discModel = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getSla() {
                this.$http.get(this.endpoint_sla, this.$http.defaults.config)
                    .then(response => {
                        this.sla = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },

            showSla(id) {
                this.$http.get(this.endpoint_sla + '/' + id, this.$http.defaults.config)
                    .then(response => {
                        this.sla = response.data;

                        const h = this.$createElement
                        const titleVNode = h('div', { domProps: { innerHTML: 'SLA' } })

                        const messageVNode = h('div', {class: ['hide-backdrop']},
                            [
                                h('p', { class: ['text-center'] }, [
                                    this.sla.description
                            ]
                            ),

                        ])
                        this.$bvModal.msgBoxOk([messageVNode], {
                            title: [titleVNode],
                            buttonSize: 'sm',
                            size: 'lg'
                        })
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },

            showPerformance(product_id) {
                //console.log(product_id)
                this.$http.get(this.endpoint_product_detail + product_id, this.$http.defaults.config)
                    .then(response => {
                        this.product_detail = response.data;
                        if (this.product_detail.configuration == '') {
                            this.product_detail.configuration = 'Информация отсутсвует';
                        }

                        const h = this.$createElement
                        const titleVNode = h('div', { domProps: { innerHTML: 'Сервер' } })

                        const messageVNode = h('div', {class: ['hide-backdrop']},
                            [
                                h('p', { class: ['text-center'] }, [
                                        this.product_detail.configuration
                                    ]
                                ),

                            ])
                        this.$bvModal.msgBoxOk([messageVNode], {
                            title: [titleVNode],
                            buttonSize: 'sm',
                            size: 'lg'
                        })
                    })
                    .catch(error => {
                        console.log(error);
                    })
            }

        }
    }
</script>
