<template lang="html">
    <div>
        <h2>Корзина </h2>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Цена, $</th>
                    <th>Количество, шт.</th>
                    <th>Производительность</th>
                    <th>SLA</th>
                    <th>Роль</th>
                    <th>Среда</th>
                    <th>Конфигурация</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in cart.cart_item">
                    <td>{{ index + 1 }}</td>
                    <td>{{ item.price_original | currency(' ', 0)}}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.performance }}</td>
                    <td>{{ item.product.sla }}</td>
                    <td>{{ item.product.server }}</td>
                    <td>{{ item.product.environment }}</td>
                    <td>{{ item.product.configuration }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div v-if="cart.project_name">Название проекта: <span class="text-success">{{cart.project_name}}</span></div>
        <div><b>Сумма заказа: <span class="text-success">{{cart.sum | currency('$ ', 0)}}</span></b></div>
        <br>
        <button type="submit" class="btn btn-success" @click.prevent="back">Назад</button>

    </div>
</template>

<script>
    export default {
        data () {
            return {
                cart: [],
                user_id: localStorage.getItem("user_id"),
                endpoint: this.$http.defaults.baseURL + '/cart/',
            }
        },
        created() {
            this.getCart();
        },
        methods: {
            getCart() {
                this.$http.get(this.endpoint + this.user_id, this.$http.defaults.config)
                    .then(response => {
                        this.cart = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            back() {
                this.$router.push("/cart/");
            }
        }
    }
</script>
