<template>

    <div>
        <h2>Заказ оформлен</h2>
        <div>
            Номер заказа  <a :href="'/#/my_order/' + orders.id">{{orders.id}}</a>
        </div>
        <div v-if="orders.cart.sum">
            Заказ на сумму: <b>{{orders.cart.sum | currency('$ ', 0)}}</b>
        </div>
        <div>
            Бюджетная оценка зафиксирована на 40 дней
        </div>
    </div>

</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return {
                orders: {
                    cart:{
                        sum: ''
                    }
                },
                endpoint: this.$http.defaults.baseURL + '/order/last/',
            }
        },
        created() {
            this.getMyOrders();
        },
        methods: {
            getMyOrders() {
                let user_id = localStorage.getItem("user_id");
                axios.get(this.endpoint + user_id, this.$http.defaults.config)
                    .then(response => {
                        this.orders = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            }
        }
    }
</script>
