<template lang="html">

    <div class="marketplace">

        <div class="environment__selection__footer">
            <div class="creating__order__reset creating__order__bottom" >
                <p class="creating__order__price--text" style="font-size: 18px">
                    <span style="margin-left: 30%">Уважаемые пользователи!</span>
                    <br>Портал автоматизации работает в тестовом режиме, в настоящее время функционал предназначен для примерной оценки бюджета на стандартную инфраструктуру.
                </p>

            </div>
        </div>

        <div class="marketplace__item">
            <div class="marketplace__item__img">
                <img class="marketplace__item__icon" src="./icon/donate-solid.svg" width="60px" height="60px" alt="cost estimate">
            </div>
            <a href="/#/cart/">Бюджетная оценка стоимости cтандартной инфраструктуры</a>
        </div>
        <div class="marketplace__item">
            <div class="marketplace__item__img">
                <img class="marketplace__item__icon" src="./icon/shopping-bag-solid.svg" width="60px" height="60px" alt="infrastructure">
            </div>
            <a href="/#/my_order/">Мои заказы</a>
        </div>
        <!--<div class="marketplace__item">
            <div class="marketplace__item__img">
                <img class="marketplace__item__icon" src="./icon/user-tie-solid.svg" width="60px" height="60px" alt="Personal account">
            </div>
            <a href="#">Личный кабинет</a>
        </div>-->
        <!--<div class="marketplace__item">
            <div class="marketplace__item__img">
                <img class="marketplace__item__icon" src="./icon/edit-regular.svg" width="60px" height="60px" alt="application">
            </div>
            <a href="https://jira.x5.ru/projects/IN/issues" target="_blank">Заявка на оценку стоимости нестандартной инфрастуктуры</a>
        </div>-->
        <div class="marketplace__item" v-if="user.role === 'admin'">
            <div class="marketplace__item__img">
                <img class="marketplace__item__icon" src="./icon/laptop-code-solid.svg" width="60px" height="60px" alt="verification">
            </div>
            <a href="/#/admin/order/">Верификация заказов</a>
        </div>
        <!--<div class="marketplace__item">
            <div class="marketplace__item__img">
                <img class="marketplace__item__icon" src="./icon/file-alt-regular.svg" width="60px" height="60px" alt="Documentation">
            </div>
            <a href="#">Документация по процессу</a>
        </div>-->
        <!--<div class="marketplace__item">
            <div class="marketplace__item__img">
                <img class="marketplace__item__icon" src="./icon/sitemap-solid.svg" width="60px" height="60px" alt="administrator">
            </div>
            <a href="#">Функционал администратора</a>
        </div>
        <div class="marketplace__item">
            <div class="marketplace__item__img">
                <img class="marketplace__item__icon" src="./icon/desktop-solid.svg" width="60px" height="60px" alt="moderator">
            </div>
            <a href="#">Функционал модератора</a>
        </div>-->
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return {
                user: '',
                endpoint: this.$http.defaults.baseURL + '/user/',
            }
        },
        created() {
            this.getUser();
        },
        methods: {
            getUser() {
                let user_id = localStorage.getItem("user_id");
                if (user_id > 0) {
                    axios.get(this.endpoint + user_id, this.$http.defaults.config)
                        .then(response => {
                            this.user = response.data;
                        })
                        .catch(error => {
                            console.log(error);
                        });
                }

            },
        }
    }
</script>
