<template lang="html">
    <div>
        <h2>Заказ </h2>
        <div class="table-responsive">
            <div v-if="order.id">ID: <span class="text-success">{{order.id}}</span></div>
            <div v-if="order.cart.sum">Сумма заказа: <span class="text-success">{{order.cart.sum | currency('$ ', 0)}}</span></div>
            <div v-if="order.order_status.title">Статус заказа: <span class="text-success">{{order.order_status.title}}</span>
                <span v-if="order.reason_cancel">(причина: <span class="text-warning">{{order.reason_cancel}}</span>)</span></div>
            <div v-if="order.cart.project_name">Название проекта: <span class="text-success">{{order.cart.project_name}}</span></div>
            <div v-if="order.reason_cancel">Причина отмены: <span class="text-success">{{order.reason_cancel}}</span></div>
            <div v-if="order.cart.number_spp">Номер СПП: <span class="text-success">{{order.cart.number_spp}}</span></div>
            <div v-if="order.cart.date_spp">Дата СПП: <span class="text-success">{{order.cart.date_spp}}</span></div>
            <div v-if="order.cart.fincontroller">Фин. контроллер: <span class="text-success">{{order.cart.fincontroller}}</span></div>
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Цена, $</th>
                    <th>Количество, шт.</th>
                    <th>Производительность</th>
                    <th>SLA</th>
                    <th>Роль</th>
                    <th>Среда</th>
                    <!--<th>Конфигурация</th>-->
                    <th>ОС</th>
                    <th>vCPU, Core</th>
                    <th>RAM, Gb</th>
                    <th>Диск, Gb</th>
                    <th>Тип диска</th>
                    <th>Доп. объем диска</th>
                    <th>Доп. цена диска</th>
                    <th>Доп. тип диска</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in order.cart.cart_item">
                    <td>{{ index + 1 }}</td>
                    <td>{{ item.price_original | currency(' ', 0)}}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.performance }}</td>
                    <td>{{ item.product.sla }}</td>
                    <td>{{ item.product.server }}</td>
                    <td>{{ item.product.environment }}</td>
                    <!--<td>{{ item.product.configuration }}</td>-->
                    <td><span v-if="item.operation_system_id">{{ item.operation_system_id.title }}</span></td>
                    <td>{{ item.product.vcpu }}</td>
                    <td>{{ item.product.ram }}</td>
                    <td>{{ item.product.disc_volume }}</td>
                    <td>{{ item.product.disc_type }}</td>
                    <td>{{ item.volume_disc }}</td>
                    <td>{{ item.price_disc }}</td>
                    <td>{{ item.type_disc }}</td>
                </tr>
                </tbody>
            </table>
            <span v-if="order.order_status.code == 'new'">
                <button class="btn btn-warning" @click.prevent="inProgress(order.id)">Запросить инфраструктуру</button>
                <button class="btn btn-danger" @click.prevent="cancelStatus(order.id)">Отменить</button>
            </span>
            <span v-if="order.order_status.code == 'rejected'">
                <button class="btn btn-warning" @click.prevent="inProgress(order.id)">Редактировать заказ</button>
                <button class="btn btn-danger" @click.prevent="cancelStatus(order.id)">Отменить</button>
            </span>
        </div>
    </div>
</template>


<script>
    import axios from 'axios'
    let App =  {
        props: ['id'],
        data () {
            return {
                order: {
                    cart: {
                        sum: ''
                    },
                    order_status: {
                        title: ''
                    }
                },
                endpoint:  this.$http.defaults.baseURL + '/order/',
                endpoint_status_cancel: this.$http.defaults.baseURL + '/order/change_status/cancel/'
            }
        },
        created() {
            this.getOrders();
        },
        methods: {
            getOrders() {
                axios.get(this.endpoint + this.id, this.$http.defaults.config)
                    .then(response => {
                        this.order = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            cancelStatus(order) {
                axios.post(this.endpoint_status_cancel + order, '', this.$http.defaults.config)
                    .then(response => {
                        this.getOrders();
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            inProgress(order) {
                this.$router.push("/order_data/" + order);
            }
        }
    }
    export default App;
</script>
