<template lang="html">
    <div>
        <h2>Мои заказы</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Стоимость заказа (без НДС), $</th>
                    <th>Дата заказа</th>
                    <th>Срок действия оценки</th>
                    <th>Название проекта</th>
                    <th>Статус</th>
                   <!-- <th>Действие</th>-->
                </tr>
                </thead>
                <tbody>
                <tr v-for="order in orders">
                    <td>
                        <router-link :to="{ name: 'my-order-detail', params: { id: order.id } }">
                            {{ order.id }}
                        </router-link>
                    </td>
                    <td>{{ order.cart.sum | currency(' ', 0)}}</td>
                    <td><span v-if="order.created_at">{{ new Date(order.created_at) | dateFormat('DD.MM.YYYY HH:mm') }}</span></td>
                    <td><span v-if="order.deadline">{{ new Date(order.deadline) | dateFormat('DD.MM.YYYY') }}</span></td>
                    <td>{{ order.cart.project_name }}</td>
                    <td>{{order.order_status.title}}</td>
                    <!--<td>
                        <span v-if="order.order_status.code != 'cancel'">
                            <button class="btn btn-danger" @click.prevent="cancelStatus(order.id)">Отменить</button>
                        </span>
                    </td>-->
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return {
                orders: [],
                endpoint: this.$http.defaults.baseURL + '/order/user/',
                endpoint_status_cancel: this.$http.defaults.baseURL + '/order/change_status/cancel/',
            }
        },
        created() {
            this.getMyOrders();
        },
        methods: {
            getMyOrders() {
                let user_id = localStorage.getItem("user_id");
                axios.get(this.endpoint + user_id, this.$http.defaults.config)
                    .then(response => {
                        this.orders = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            cancelStatus(order) {
                axios.post(this.endpoint_status_cancel + order, '', this.$http.defaults.config)
                    .then(response => {
                        this.getMyOrders();
                    })
                    .catch(error => {
                        console.log(error);
                    })
            }
        }
    }
</script>

