<template lang="html">
    <div>
        <h2>Заполнение данных</h2>
        <div class="row spp">
            <div class="spp__item">
                <label for="number" class="">Название проекта<span style="color: red">*</span></label>
                <div>
                    <input v-model="model.cart.project_name" type="text" class="form-control col-2" id="name" placeholder="Введите текст">
                </div>
            </div>
            <br>
            <div class="spp__item">
                <label for="number" class="">Номер СПП<span style="color: red">*</span></label>
                <div>
                    <input v-model="model.cart.number_spp" type="text" class="form-control col-2" id="number" placeholder="">
                </div>
            </div>
            <div class="spp__item">
                <label for="period" class="">Срок СПП<span style="color: red">*</span></label>
                <div>
                    <input v-model="model.cart.date_spp" type="text" class="form-control col-2" id="period" placeholder="12.12.2022">
                </div>
            </div>
            <div class="spp__item">
                <label for="fin" class="">Финконтролер (email)<span style="color: red">*</span></label>
                <div>
                    <input v-model="model.cart.fincontroller" type="text" class="form-control col-2" id="fin" placeholder="ivanov@x5.ru">
                </div>
            </div>
        </div>
        <div>
            <span v-if="msgError" style="color: red">{{msgError.error}}</span>
        </div>
        <button type="submit" variant="success" class="btn btn-success" @click.prevent="addName()">Далее</button>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        props: ['id'],
        data () {
            return {
                model: {
                    cart: {
                        project_name:'',
                        number_spp: ''
                    }
                },
                data: '',
                msgError: '',
                user_id: localStorage.getItem("user_id"),
                endpoint_cart:    this.$http.defaults.baseURL + '/cart/',
                endpoint_add_project_name:    this.$http.defaults.baseURL + '/order/add_data/',
                endpoint_order:               this.$http.defaults.baseURL + '/order/',
            }
        },
        created() {
            this.getOrder();
        },
        methods: {
            getOrder() {
                axios.get(this.endpoint_order + this.id, this.$http.defaults.config)
                    .then(response => {
                        this.model = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            addName() {
                this.$http.post(this.endpoint_add_project_name + this.id, this.model, this.$http.defaults.config)
                    .then(response => {
                        this.data = response.data;
                        if (!this.data.error) {
                            this.checkout();
                        } else {
                            this.msgError = response.data;
                        }

                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            checkout() {
                this.$http.post(this.endpoint_order + this.user_id, null, this.$http.defaults.config)
                    .then(response => {
                        //localStorage.removeItem('env_sla');
                         this.$router.push("/my_order/");
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
        }
    }
</script>
