<template lang="html">
    <div>
        <div v-if="auth">

            <div class="creating__order__group">
                <h2>Расчет конфигурации</h2>

                <div class="order__name">
                    <label for="name" class="order__name__label">Название проекта</label>
                    <div>
                        <input v-model="mod.project_name" type="text" class="form-control" id="name" placeholder="Введите текст"  @change="addName">
                    </div>
                </div>

                <div id="accordion">
                    <div class="card environment__configure" v-for="(items, envIndex) in products">
                        <div class="card-header environment__configure__header">
                            <h3 class="environment__h3">
                                <button class="btn environment__configure__name" style="font-size: 24px" v-on:click="showCollapsed">
                                    {{envIndex}}
                                </button>
                            </h3>
                            <div class="environment__sla">
                                <label for="slaEvn" class="col-sm-8 col-form-label">SLA</label>
                                <select v-model="product.sla" id="slaEvn" class="form-control col-6">
                                    <option v-for="sla in slaSet">{{ sla }}</option>
                                </select>
                            </div>
                            <div v-if="count_product.count" style="margin-right: 50px;">
                                Количество: {{count_product.count[envIndex]}}
                            </div>
                            <div v-if="count_product.price">
                                <span v-if="count_product.count[envIndex]">Цена: {{count_product.price[envIndex] | currency('$ ', 0)}}</span>
                            </div>
                            <!--<button type="reset" class="btn btn-danger environment__remove">Удалить среду</button>-->
                        </div>

                        <div class="collapse show">
                            <div class="card-body" v-for="(item, serverInd) in items">
                                <div>
                                    <div class="form-group environment__server">
                                        <p class="col-sm-6 col-form-label"><b>{{serverInd}}</b></p>
                                    </div>
                                    <div class="form-group environment__number">
                                        <span class="col-sm-6 col-form-label">Цена</span>
                                    </div>
                                    <div class="form-group environment__number">
                                        <span class="col-sm-6 col-form-label">Описание</span>
                                    </div>
                                    <div class="form-group environment__number">
                                        <span class="col-sm-6 col-form-label">Количество</span>
                                    </div>
                                </div>
                                <div v-for="itemProduct in item">
                                    <div class="form-group environment__server">
                                        <span  class="form-control col-5">{{itemProduct.product.performance}}</span>
                                    </div>
                                    <div class="form-group environment__server">
                                        <span  class="form-control col-5">{{itemProduct.product.price | currency('$ ', 0)}}</span>
                                    </div>
                                    <div class="form-group environment__number" style="font-size: 12px;">
                                        {{itemProduct.product.configuration}}
                                    </div>
                                    <div class="form-group environment__number">
                                        <span class="input-number">
                                            <button type="button" class="btn minus" @click.prevent="deleteProduct(itemProduct.id)">-</button>
                                            <span class="form-control">{{itemProduct.quantity}}</span>
                                            <button type="button" class="btn plus" @click.prevent="addProduct(itemProduct.id)">+</button>
                                        </span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="environment__selection__footer">
                    <div class="form-group environment__selection">

                    </div>

                    <div class="creating__order__reset creating__order__bottom" v-if="products">
                        <span class="creating__order__price" v-if="cart.sum > 0">Итого: {{cart.sum | currency('$ ', 0)}}</span>
                        <p class="creating__order__price--text">
                            Данная стоимость отображается справочно, для целей
                            бюджетирования. Фиксация стоимости возможна по
                            нажатии на кнопку «Забронировать» на 40 дней, в течение
                            которых в заявку должен быть добавлен СПП через Личный
                            Кабинет. Заявки без СПП через 40 дней будут аннулированы
                        </p>
                        <button type="submit" variant="success" class="btn btn-success" @click.prevent="checkout()">Забронировать</button>
                        <button type="submit" class="btn btn-success">Детализация</button>
                        <button type="reset" class="btn btn-danger" @click.prevent="cancel">Отменить</button>
                    </div>
                </div>
            </div>

        </div>
        <div v-else>
            Вы не авторизованы
        </div>

    </div>
</template>

<script>
    export default {
        data () {
            return {
                product: {
                    sla: 1
                },
                mod: {
                },
                model: {
                    environment: "Prod"
                },
                slaSet: [1, 2, 3],
                env: localStorage.getItem('env'),
                user_id: localStorage.getItem("user_id"),
                endpoint_product: this.$http.defaults.baseURL + '/cart/find/',
                endpoint_count: this.$http.defaults.baseURL + '/cart/count/',
                endpoint_cart_set_quantity: this.$http.defaults.baseURL + '/cart/set_quantity/',
                endpoint_cart_set_quantity_minus: this.$http.defaults.baseURL + '/cart/set_quantity_minus/',
                endpoint_add_env_quantity: this.$http.defaults.baseURL + '/cart/add_env/',
                endpoint_cart: this.$http.defaults.baseURL + '/cart/',
                endpoint_cart_cancel: this.$http.defaults.baseURL + '/cart/cancel/',
                endpoint_order: this.$http.defaults.baseURL + '/order/',
                endpoint_add_project_name: this.$http.defaults.baseURL + '/cart/add_project_name/',
                sizes: ['high', 'middle', 'low'],
                products: '',
                cart: '',
                auth: false,
                message: '',
                count_product: ''
            }
        },
        created() {
            this.checkUser();
            this.createCart();
            this.getCart();
            this.getCountProduct();

        },
        methods: {
            checkUser() {
                if (localStorage.getItem("user_id")) {
                    this.auth = true;
                }
            },
            getProduct() {
                this.$http.get(this.endpoint_product + this.user_id, this.$http.defaults.config)
                    .then(response => {
                        this.products = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getCart() {
                this.$http.get(this.endpoint_cart + this.user_id, this.$http.defaults.config)
                    .then(response => {
                        this.cart = response.data;
                        this.mod = response.data;
                       // console.log(this.cart.project_name);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getCountProduct() {
                this.$http.get(this.endpoint_count + this.user_id, this.$http.defaults.config)
                    .then(response => {
                        this.count_product = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            createCart() {
                let env = localStorage.getItem("env");
                this.$http.post(this.endpoint_cart + this.user_id, null, this.$http.defaults.config)
                    .then(response => {
                        //this.cart = response.data;
                        this.getProduct();
                        this.getCart();
                        //this.getEnvironmentsNotSelected();
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            addProduct(id) {
                this.$http.post(this.endpoint_cart_set_quantity + this.user_id + '/' + id, null, this.$http.defaults.config)
                    .then(response => {
                        this.getProduct();
                        this.getCart();
                        this.getCountProduct();

                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            deleteProduct(id) {
                this.$http.post(this.endpoint_cart_set_quantity_minus + this.user_id + '/' + id, null, this.$http.defaults.config)
                    .then(response => {
                        this.getProduct();
                        this.getCart();
                        this.getCountProduct();
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            save() {
                //localStorage.setItem('env', this.model.environment);
                //this.$router.push("/select_conf/");
                this.$router.go(0);
            },
            checkout() {
                this.$http.post(this.endpoint_order + this.user_id, null, this.$http.defaults.config)
                    .then(response => {
                        //localStorage.removeItem('env');
                        this.$router.push("/completed/");
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            cancel() {
                this.$http.post(this.endpoint_cart_cancel + this.user_id, this.$http.defaults.config)
                    .then(response => {
                        //localStorage.removeItem('env');
                        this.$router.go(0);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            showCollapsed(e){
                var el = e.target.parentNode.parentNode.parentNode.lastChild;
                if (el.classList.contains('show')) {
                    el.classList.remove('show');
                    el.classList.add('hidden');
                } else {
                    el.classList.add('show');
                    el.classList.remove('hidden');
                }
            },
            addName() {
                this.$http.post(this.endpoint_add_project_name + this.user_id, this.mod, this.$http.defaults.config)
                    .then(response => {
                        //localStorage.removeItem('env');
                        //this.$router.go(0);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            }
        }
    }
</script>
