.creating__order__form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.creating__order h2{
    margin: 20px 0 30px 0;
}

.creating__order__reset {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-bottom: 60px;
    margin-right: 60px;
}

.creating__order__group{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.environment__selection__button{
    margin-top: 20px;
}

.order__name {
    margin-bottom: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.order__name__label{
    font-size: 24px;
    margin-right: 20px;
}

.environment__selection {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-left: 40px;
}

.environment__configure{
    word-wrap: normal;
}

.environment__configure__header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
}

.environment__configure__name{
    font-size: 24px;
    width: 250px;
    text-align: left;
    outline: none;
    box-shadow: none;
    /*margin-right: 80px;*/
}

.environment__configure__name img{
    margin-right: 10px;
}

.environment__remove{
    height: 38px;
}

.environment__sla{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 100px;
}

.environment__number span{
    display: inline-block;
    margin: 0 auto;
}

.environment__number{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    height: 38px;
    width: 250px;
}

.environment__number__desc{
    margin: 0 auto;
}

.input-number{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 25px;
}

.input-number input{
    text-align: center;
}

.input-number button{
    font-size: 24px;
    box-shadow: none;
}

.input-number span{
    width: 25px;
    text-align: center;
}

.card-body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-start;
    margin-right: 40px;
    overflow: auto;
}

.card-body__name{
    min-width: 300px;
    align-self:flex-start;
    margin-top: 15px;
}

.card-body__item{
    min-width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px 10px 0 10px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.03);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.creating__order__bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-right: 60px;
}

.creating__order__bottom button{
    margin-bottom: 10px;
    width: 140px;
}

.creating__order__price{
    font-size: 24px;
}

.creating__order__price--text{
    /*width: 400px;*/
    font-size: 14px;
    color: red;
    border: 1px solid #ced4da;
    padding: 5px;
}

.environment__selection__footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30px;
}

.marketplace{
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.marketplace__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 200px;
    width: 300px;
    background-color: #e6e6e6;
    margin: 3px;
    padding: 10px;
    border-radius: 5px;
}

.marketplace__item a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #1c7430;
    padding: 25px;
    text-align: center;
    line-height: 30px;
}

.marketplace__item__img{
    width: 60px;
    height: 60px;
}

.spp{
    display: flex;
    flex-direction: column;
}

.spp__item{
    margin: 0 25px 15px 15px;
}

.spp__item label{
    margin-bottom: 0;
}

.filter__button{
    margin-top: 8px;
}

.environment__number select{
    margin: 0 auto;
    text-align-last: center;
}

.environment__number__final{
    border-bottom: 0;
}

.link-lk{
    margin-right: 20px;
}

.fl-row{
    flex-direction: row;
}

.question{
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 6px;
    padding-right: 6px;
}

.performance {
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 12px;
}
