<template lang="html">
    <div>

        <div class="order__name">
            <label for="name" class="order__name__label">Название проекта</label>
            <div>
                <input name="name" type="text" class="form-control" id="name" placeholder="Введите текст">
            </div>
        </div>
        <div class="row spp">
            <div class="spp__item">
                <label for="number" class="">Номер СПП</label>
                <div>
                    <input name="number" type="text" class="form-control col-2" id="number" placeholder="">
                </div>
            </div>
            <div class="spp__item">
                <label for="period" class="">Срок СПП</label>
                <div>
                    <input name="number" type="text" class="form-control col-2" id="period" placeholder="">
                </div>
            </div>
            <div class="spp__item">
                <label for="fin" class="">Финконтролер</label>
                <div>
                    <input name="number" type="text" class="form-control col-2" id="fin" placeholder="">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="filter" class="col-form-label order__name__label">Выбрать фильтр</label>
            <select id="filter" class="form-control col-2">
                <option selected>Prod</option>
                <option>...</option>
            </select>
            <div class="form-group">
                <label for="input" class="col-form-label">Фильтровать по:</label>
                <input name="" id="input" type="text" class="form-control col-2" placeholder="">
            </div>
            <button type="button" class="btn btn-success filter__button">Фильтровать</button>
        </div>


        <h2>Список конфигураций</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Роль</th>
                    <th>SLA</th>
                    <th>Производительность</th>
                    <th>Цена</th>
                    <th>Конфигурация</th>
                    <th>Активность</th>
                    <th>Среда</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="product in products">
                    <td>{{ product.id }}</td>
                    <td>{{ product.role }}</td>
                    <td>{{ product.sla }}</td>
                    <td>{{ product.performance }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.configuration }}</td>
                    <td>{{ product.active }}</td>
                    <td>{{ product.environment }}</td>
                    <td>
                        <router-link class="btn btn-success" :to="{ name: 'product-edit', params: { id: product.id } }">
                            Редактировать
                        </router-link>
                        <button class="btn btn-danger" @click.prevent="deleteProduct(product.id)">Удалить</button></td>
                </tr>
                </tbody>
            </table>

            <a href="/#/admin/product-add">Добавить продукт</a>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return {
                products: [],
                endpoint: this.$http.defaults.baseURL + '/product',
            }
        },
        created() {
            this.getProducts();
        },
        methods: {
            getProducts() {
                axios.get(this.endpoint)
                    .then(response => {
                        this.products = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            deleteProduct(id)
            {
                if (confirm('Вы уверенны в том, что хотите удалить запись?')) {
                    axios.delete(this.endpoint + '/' + id).then(response => {
                        this.getProducts()
                    });
                }
            }
        }
    }
</script>
