<template>

  <div id="app">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Infrastructure</a>
      <ul class="navbar-nav px-3 fl-row">
        <li class="nav-item text-nowrap" v-if="user">
          <a class="nav-link link-lk" style="color: #fff" href="#">{{user.login}}</a>
        </li>
        <li class="nav-item text-nowrap">
          <a class="nav-link" v-bind:class="exit" @click="exit">Выйти</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="top: 40px;" v-if="user">
          <div class="sidebar-sticky">
            <ul class="nav flex-column"  v-if="user.role === 'admin'">

              <li class="nav-item">
                <router-link to="/admin/user/" class="nav-link">Пользователи</router-link>
              </li>

              <li class="nav-item">
                <router-link to="/admin/product/" class="nav-link">Сервисы</router-link>
              </li>

              <li class="nav-item">
                <router-link to="/admin/env/" class="nav-link">Среды</router-link>
              </li>

              <li class="nav-item">
                <router-link to="/admin/server/" class="nav-link">Типы серверов</router-link>
              </li>

              <li class="nav-item">
                <router-link to="/admin/sla/" class="nav-link">SLA</router-link>
              </li>

              <li class="nav-item">
                <router-link to="/admin/os/" class="nav-link">ОС</router-link>
              </li>

              <li class="nav-item">
                <router-link to="/admin/order/" class="nav-link">Заказы</router-link>
              </li>

              <li class="nav-item">
                  <span data-feather="shopping-cart">___________</span>
              </li>

            </ul>

            <ul class="nav flex-column">
              <li class="nav-item">
                <router-link to="/cart/" class="nav-link">Создание заказа</router-link>
              </li>

              <li class="nav-item">
                <router-link to="/my_order/" class="nav-link">Мои заказы</router-link>
              </li>
            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="top: 40px;">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2"></h1>

            <!--<div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>-->
          </div>
          <div v-if="user_id">
              <router-view></router-view>
         </div>
          <div v-else>
            <h2>Авторизация</h2>
            <form @submit.prevent="save">
              <b-form-group label="Логин">
                <b-form-input type="text" v-model="model.login" placeholder="пример: ivan.ivanov"></b-form-input>
              </b-form-group>
              <b-form-group label="Пароль">
                <b-form-input type="password" v-model="model.password"></b-form-input>
              </b-form-group>
              <div>
                <b-btn type="submit" variant="success">Войти</b-btn>
              </div>
            </form>

            <span v-if="msgError">{{msgError.error}}</span>
          </div>

        </main>
      </div>
    </div>

  </div>
</template>


<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        model: {},
        user: '',
        endpoint: this.$http.defaults.baseURL + '/user/',
        endpoint_auth: this.$http.defaults.baseURL + '/user/auth',
        msgError: '',
        user_id: localStorage.getItem("user_id"),

      }
    },
    created() {
      this.getUser();
      //this.check();
    },

    methods: {
      check() {
        /*let token = localStorage.getItem('token');
        if (token) {
          this.$router.push("/");
        }*/
      },
      getUser() {
        //console.info('App currentRoute:', this.$route.path);
        let user_id = localStorage.getItem("user_id");
        if (user_id > 0) {
          axios.get(this.endpoint + user_id, this.$http.defaults.config)
            .then(response => {
              this.user = response.data;
            })
            .catch(error => {
              console.log(error);
            });
       }

      },
      save()
      {
        axios.post(this.endpoint_auth, this.model)
            .then(response => {
              let data = response.data;
              console.log(data);
              if (!data.error) {
                localStorage.setItem('token', data.token);
                localStorage.setItem('user_id', data.user_id);
                this.$router.push("/");
                window.location.reload(true);
              }
              else {
                this.msgError = response.data;
              }
            }).catch(error => {
                console.log(error);
            });
      },
      exit() {
        localStorage.removeItem('user_id');
        localStorage.removeItem('token');
        this.$router.go(0);
        //this.$router.push("/");
      }
    }
  }
</script>
